/*
Theme Name: Uniduck Theme
Theme URI:
Author: Damir Kustura
Author URI:
Description: Nivas Wordpress Career Uniduck Theme
Version: 1.0
License:
License URI:
Tags: uniduck
Text Domain: uniduck
*/

@font-face{font-family:'Museo Sans Rounded';src:url(assets/fonts/museosansrounded-100-webfont.eot);src:url(assets/fonts/museosansrounded-100-webfont.eot?#iefix) format('embedded-opentype'),url(assets/fonts/museosansrounded-100-webfont.woff2) format('woff2'),url(assets/fonts/museosansrounded-100-webfont.woff) format('woff'),url(assets/fonts/museosansrounded-100-webfont.svg#museo_sans_rounded100) format('svg');font-weight:100;}
@font-face{font-family:'Museo Sans Rounded';src:url(assets/fonts/museosansrounded-300-webfont.eot);src:url(assets/fonts/museosansrounded-300-webfont.eot?#iefix) format('embedded-opentype'),url(assets/fonts/museosansrounded-300-webfont.woff2) format('woff2'),url(assets/fonts/museosansrounded-300-webfont.woff) format('woff'),url(assets/fonts/museosansrounded-300-webfont.svg#museo_sans_rounded300) format('svg');font-weight:300;}
@font-face{font-family:'Museo Sans Rounded';src:url(assets/fonts/museosansrounded-500-webfont.eot);src:url(assets/fonts/museosansrounded-500-webfont.eot?#iefix) format('embedded-opentype'),url(assets/fonts/museosansrounded-500-webfont.woff2) format('woff2'),url(assets/fonts/museosansrounded-500-webfont.woff) format('woff'),url(assets/fonts/museosansrounded-500-webfont.svg#museo_sans_rounded500) format('svg');font-weight:500;}
@font-face{font-family:'Museo Sans Rounded';src:url(assets/fonts/museosansrounded-700-webfont.eot);src:url(assets/fonts/museosansrounded-700-webfont.eot?#iefix) format('embedded-opentype'),url(assets/fonts/museosansrounded-700-webfont.woff2) format('woff2'),url(assets/fonts/museosansrounded-700-webfont.woff) format('woff'),url(assets/fonts/museosansrounded-700-webfont.svg#museo_sans_rounded700) format('svg');font-weight:700;}
@font-face{font-family:'Museo Sans Rounded';src:url(assets/fonts/museosansrounded-900-webfont.eot);src:url(assets/fonts/museosansrounded-900-webfont.eot?#iefix) format('embedded-opentype'),url(assets/fonts/museosansrounded-900-webfont.woff2) format('woff2'),url(assets/fonts/museosansrounded-900-webfont.woff) format('woff'),url(assets/fonts/museosansrounded-900-webfont.svg#museo_sans_rounded900) format('svg');font-weight:800;}
@font-face{font-family:'Museo Sans Rounded';src:url(assets/fonts/museosansrounded-1000-webfont.eot);src:url(assets/fonts/museosansrounded-1000-webfont.eot?#iefix) format('embedded-opentype'),url(assets/fonts/museosansrounded-1000-webfont.woff2) format('woff2'),url(assets/fonts/museosansrounded-1000-webfont.woff) format('woff'),url(assets/fonts/museosansrounded-1000-webfont.svg#museo_sans_rounded1000) format('svg');font-weight:900;}

html, body{ margin: 0; padding: 0; font-family: 'Museo Sans Rounded'; font-size: 18px; line-height: 24px; font-weight: 500; color: #6f6f6f; }

ul, ol{ margin: 0; padding: 0; list-style-type: none; }
a{ color: #dc4ba3; text-decoration: none !important; }
a:hover, a:focus, a:active{ color: #b84289; }
a, button{ outline: none !important; }
p{ margin-bottom: 24px; }
strong{ font-weight: 500; color: #dc4ba3; }

h1, h2, h3, h4, h5, h6{ font-weight: 700; margin: 48px 0 24px 0; color: #555555; }
h1{ font-size: 46px; }
h2{ font-size: 32px; }
h3{ font-size: 28px; }
h4{ font-size: 22px; }
h5{ font-size: 18px; }
h6{ font-size: 14px; }

/* animations */
.anim02{ -webkit-transition: all 0.2s ease !important; -moz-transition: all 0.2s ease !important; -ms-transition: all 0.2s ease !important; -o-transition: all 0.2s ease !important; transition: all 0.2s ease !important; }

/* text transforms */
.t_upper{ text-transform: uppercase !important; }
.t_none{ text-transform: none !important; }

/* border radius */
.round{ -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important; -ms-border-radius: 5px !important; -o-border-radius: 5px !important; border-radius: 5px !important; }

/* font weight */
.f_thin{ font-weight: 100 !important; }
.f_light{ font-weight: 300 !important; }
.f_medium{ font-weight: 500 !important; }
.f_bold{ font-weight: 700 !important; }
.f_ebold{ font-weight: 800 !important; }
.f_black{ font-weight: 900 !important; }

/* colors */
.c_pink{ color: #dc4ba3 !important; }
.c_gray{ color: #6f6f6f !important; }

::selection{ background: #dc4ba3; color: #fff; }
::-moz-selection{ background: #dc4ba3; color: #fff; }

/* buttons */
.button{ display: inline-block; vertical-align: middle; padding: 16px 30px; background-color: transparent; border: 0; font-size: 14px; }
.buttonPrimary{ background-color: #dc4ba3; color: #fff; }
.buttonPrimary:hover, .buttonPrimary:focus, .buttonPrimary:visited, .buttonPrimary:active{ background-color: #c34292; color: #fff; }
.buttonDefault, .buttonDefault, .buttonDefault, .buttonDefault{ background-color: #b3b3b3; color: #fff; }
.buttonDefault:hover, .buttonDefault:focus, .buttonDefault:visited, .buttonDefault:active{ background-color: #9b9b9b; color: #fff; }
.buttonIcon{ padding-left: 60px; background-repeat: no-repeat; -webkit-background-size: 21px 21px; -moz-background-size: 21px 21px; -ms-background-size: 21px 21px; -o-background-size: 21px 21px; background-size: 21px 21px; -webkit-background-position: left 32px center; -moz-background-position: left 32px center; -ms-background-position: left 32px center; -o-background-position: left 32px center; background-position: left 32px center; }
.buttonIcon:hover{ -webkit-background-position: left 26px center; -moz-background-position: left 26px center; -ms-background-position: left 26px center; -o-background-position: left 26px center; background-position: left 26px center; }
.icon-apple{ background-image: url(assets/icons/ic-apple.svg); }
.icon-unicorn{ background-image: url(assets/icons/ic-unicorn.svg); }



/* header */
.logo{ display: block; }
.logo img{ width: 172px; margin-top: 16px; }
.mainHeader{ padding: 31px 0 28px 0; background-color: #fff; }
.mainNavigation, .headerButtons{ float: right; }
.mainMenu{ margin: -30px 0; }
.mainMenu a{ font-size: 16px; font-weight: 700; color: #555555; display: block; padding: 46px 20px; line-height: 23px; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.mainMenu li.current-menu-item > a, .mainMenu a:hover{ color: #dc4ba3; }
.mainMenu li{ position: relative; }
.mainMenu > li{ display: inline-block; vertical-align: middle; }
.mainMenu ul{ display: none; position: absolute; top: 100%; left: 0; width: 200px; background-color: #ffffff; padding: 0 15px; -webkit-box-shadow: 10px 10px 33px -4px rgba(0,0,0,0.1);
    -moz-box-shadow: 10px 10px 33px -4px rgba(0,0,0,0.1);
    box-shadow: 10px 10px 33px -4px rgba(0,0,0,0.1); }
.mainMenu ul ul{ top: 0; left: 100%; }
.mainMenu ul a{ padding: 10px 15px; font-size: 14px; font-weight: 500; border-bottom: 1px dashed; border-color: #cccccc; }
.mainMenu ul > li:last-child > a{ border-bottom: 0; }
.mainMenu ul li.dropdown > a{ background-repeat: no-repeat; -webkit-background-size: 20px 20px; -moz-background-size: 20px 20px; -ms-background-size: 20px 20px; -o-background-size: 20px 20px; background-size: 20px 20px; -webkit-background-position: right center; -moz-background-position: right center; -ms-background-position: right center; -o-background-position: right center; background-position: right center; background-image: url(assets/icons/ic-arrow-right.svg); }
.headerButtons > li{ display: inline-block; vertical-align: middle; margin-left: 21px; }


/* article */
.articleInner{ line-height: 30px; padding: 45px 0; }
.articleHeading{ position: relative; overflow: hidden; padding: 134px 0 0 0; background-repeat: no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -ms-background-size: cover; -o-background-size: cover; background-size: cover; -webkit-background-position: center top; -moz-background-position: center top; -ms-background-position: center top; -o-background-position: center top; background-position: center top; }
.overlay{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: rgba(0, 0, 0, 0.25); }
.articleHeading .title{ color: #fff; line-height: 60px; font-weight: 500; padding: 0 30px; }
.articleHeading a{ font-size: 18px; color: #fff; display: block; }
.authorIcon{ display: inline-block; vertical-align: middle; width: 22px; height: 22px; background-repeat:no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -ms-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-background-position: center center; -moz-background-position: center center; -ms-background-position: center center; -o-background-position: center center; background-position: center center; background-image: url(assets/icons/ic-writer.svg); margin: -8px 15px 0 0; }
.backButton{ margin: 107px 0 19px 0; }
blockquote{ font-size: 30px; line-height: 44px; font-weight: 300; color: #dc4ba3; padding: 0; border: 0; text-align: center; width: 85%; }
blockquote.right{ float: right;  margin: 8px -55% 12px 50px; }
blockquote.left{ float: left; margin: 8px 50px 12px -55%; }
article img, .responsiveVideo{ width: 944px; height:auto; margin: 24px 0 48px -190px; }
.responsiveVideo{ padding-bottom: 95%; }

/* category list */
.categoryList{ margin-top: 38px; }
.categoryList > li{ float: left; margin-right: 8px; }
a.categoryItem, .categoryItem{ color: #9f9f9f; }
.categoryItem{ display: block; padding: 0 10px; background-color: #f0f0f0; font-size: 14px; line-height: 25px; font-weight: 700; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
a.categoryItem:hover, .categoryItem:hover{ background-color: #f2c0de; color: #dc4ba3; }

/* more magic */
.moreMagicWrapper{ margin-top: 5px; }
a.moreArticleItem, .moreArticleItem{ color: #555555; }
.moreArticleItem{ display: block; position: relative; padding-left: 285px; font-size: 18px; line-height: 30px; }
.moreArticleItem.moreArticleItemNoImg{ padding-left: 0; text-align: center; }
.moreArticleItem img{ width: 252px; position: absolute; top: 0; left: 0; }
.moreArticleItem .title{ font-size: 28px; line-height: 30px; font-weight: 500; margin: 65px 0 10px 0; }
.moreArticleItem:hover .title{ color: #dc4ba3; }
.moreArticleItem p{ margin-bottom: 18px; }

/* newsletter */
.newsletterWrapper .title{ font-size: 48px; line-height: 72px; color: #868686; margin:78px 0 32px 0; }
.form-control{ height: 56px; font-size: 18px; border: 1px solid; border-color: #d8d8d8; font-weight: 500; -webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important; }
.form-control:focus, .form-control.error{ border-color: #dc4ba3; }
.newsletterWrapper .form-group{ position: relative; }
.newsletterWrapper label.error{ position: absolute; top: -24px; left: 0; font-size: 14px; color: #dc4ba3; }
.newsletterWrapper .form-control{ width: 462px; }
.newsletterWrapper .button{ margin-left: 12px; padding: 16px 44px; }
.responseMessage{ display: none; }
.newsletterWrapper button[type="submit"].clicked{ pointer-events: none; }


/* footer */
.mainFooter{ border-top: 1px solid; border-color: #d8d8d8; background-color: #f4f4f4; color: #909090; margin-top: 64px; padding: 54px 0 59px 0; }
.footerInner{ margin: 0 96px; }
.copy{ margin: 16px 0 11px 0; }
.secondMenu > li{ float: left; margin-right: 30px; }
.secondMenu > li:last-child{ margin-right: 0; }
.socialList{ margin-top: 20px; }
.socialList > li{ margin-bottom: 10px; }
.socialIcon{ display: inline-block; vertical-align: middle; width: 20px; height: 20px; margin: -5px 0 0 6px; background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -ms-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-background-position: center center; -moz-background-position: center center; -ms-background-position: center center; -o-background-position: center center; background-position: center center; }
.icon-facebook{ background-image: url(assets/icons/ic-facebook.svg); }
.icon-twitter{ background-image: url(assets/icons/ic-twitter.svg); }
.icon-instagram{ background-image: url(assets/icons/ic-instagram.svg); }

/* search blog */
.searchForm .form-control{ width: 176px; border-color: transparent; margin: 0 auto; background-repeat: no-repeat; -webkit-background-size: 18px 18px; -moz-background-size: 18px 18px; -ms-background-size: 18px 18px; -o-background-size: 18px 18px; background-size: 18px 18px; -webkit-background-position: left  10px center; -moz-background-position: left 10px center; -ms-background-position: left 10px center; -o-background-position: left 10px center; background-position: left 10px center; padding: 6px 35px; }
.searchForm .form-control:focus{ width: 300px; border-color: #dc4ba3; }
.icon-search{ background-image: url(assets/icons/ic-search.svg); }
.searchBlogWrapper .title{ font-size: 48px; margin: 55px 0 3px 0; }

/* blog list */
.blogList{ margin: 63px -15px 0 -15px; display: flex; flex-wrap: wrap; }
.blogList > li{ width: 33.3333333333%; padding: 0 15px 37px 15px; position: relative; margin-bottom: 30px; }
.blogList > li.blogItemNoImage{ padding-bottom: 0; }
.blogList > li:first-child{ width: 100%; margin-bottom: 78px; }
.blogList > li:not(.blogItemNoImage):first-child .blogItem{ position: relative; padding-left: 600px; min-height: 330px; }
.blogList > li:first-child .blogItem img{ position: absolute; top: 0; left: 0; width: 555px; }
.blogList > li:first-child .blogItem .commentsList{ left: 600px; bottom: auto; top: 100%;}
.blogList > li.blogItemNoImage .blogItem .commentsList{ position: static; }
.blogItem{ display: block; font-size: 18px; line-height: 30px; padding: 0 5px; }
.blogItem img{ width: calc(100% + 10px); margin-left: -5px; }
.date{ font-size: 14px; color: #a9a9a9; display: block; margin-top: 10px; }
.blogItem .title{ font-size: 28px; line-height: 40px; margin: 0 0 14px 0; }
.blogItem:hover .title{ color: #dc4ba3; }
.blogList > li:first-child .blogItem .title{ font-size: 36px; line-height: 44px; }
.blogItem .categoryList{ margin: 0 0 12px 0; }
.commentsList{ position: absolute; bottom: 5px; left: 20px; right: 20px; }
.commentsList > li{ float: left; margin-right: 30px; }
.commentsItem{ font-size: 16px; color: #b2b2b2; background-repeat: no-repeat; -webkit-background-size: 15px 15px; -moz-background-size: 15px 15px; -ms-background-size: 15px 15px; -o-background-size: 15px 15px; background-size: 15px 15px; -webkit-background-position: left center; -moz-background-position: left center; -ms-background-position: left center; -o-background-position: left center; background-position: left center; padding-left: 29px; }
.commentsItem:hover{ color: #dc4ba3; }
.icon-like{ background-image: url(assets/icons/ic-heart.svg); }
.icon-comment{ background-image: url(assets/icons/ic-comment.svg); }
#bloglistContainer.loadingPosts > ul, #bloglistContainer.loadingPosts .paginationWrapper{ pointer-events: none; -webkit-opacity: 0.1; -moz-opacity: 0.1; -ms-opacity: 0.1; -o-opacity: 0.1; opacity: 0.1; }
.loadingText{ position: absolute; top: 160px; left: 50%; -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); -ms-transform: translateX(-50%); -o-transform: translateX(-50%); transform: translateX(-50%); display: block; padding-top: 50px; background-repeat: no-repeat; -webkit-background-size: 50px 50px; -moz-background-size: 50px 50px; -ms-background-size: 50px 50px; -o-background-size: 50px 50px; background-size: 50px 50px; -webkit-background-position: center top; -moz-background-position: center top; -ms-background-position: center top; -o-background-position: center top; background-position: center top; background-image: url(assets/icons/spinner.gif); color: #b2b2b2; }

/* pagination */
.paginationList{ text-align: center; margin: 54px 93px 7px 89px; }
.paginationList > li{ display: inline-block; vertical-align: middle; }
.paginationList > li.prevNext:first-child{ float: left; }
.paginationList > li.prevNext:last-child{ float: right; }
.paginationItem{ display: block; font-size: 16px; color: #b2b2b2; text-transform: uppercase; padding: 6px 6px; }
.paginationItem:hover, .paginationItem.current{ color: #dc4ba3; }
.paginationItem.current{ /*pointer-events: none;*/ }

/* mobile menu */
.mobileMenuWrapper{ background-color: #e1e1e1; padding: 24px 0; display: none; }
.mobileMenu a{ display: block; padding: 10px 15px; border-bottom: 1px dashed; border-color: #c6c6c6; position: relative; }
.mobileMenu > li:last-child > a{ border-bottom: 0; }
.mobileMenu li.dropdown > a:after{ content: " "; display: block; position: absolute; top: 50%; right: 5px; margin-top: -10px; width: 20px; height: 20px; background-repeat: no-repeat; -webkit-background-size: contain; -moz-background-size: contain; -ms-background-size: contain; -o-background-size: contain; background-size: contain; -webkit-background-position: center center; -moz-background-position: center center; -ms-background-position: center center; -o-background-position: center center; background-position: center center; background-image: url(assets/icons/ic-arrow-right.svg); -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -ms-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.mobileMenu li.dropdown.expanded > a:after{ -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); }
.mobileMenu ul{ display: none; border-left: 2px solid; border-color: #dc4ba3; background-color: #d5d5d5; }
.mobileMenu ul ul{ border-left: 0; background-color: #cfcfcf; }


@media (min-width: 992px){

    /* mobile menu */
    .mobileMenuWrapper{ display: none !important; }

}

@media (max-width: 1199.9px){

    /* article */
    blockquote.right{ margin: 8px -50% 12px 50px; }
    blockquote.left{ margin: 8px 50px 12px -50%; }
    article img, .responsiveVideo{ margin: 24px 0 48px -245px; }

}
@media (max-width: 991.9px){

    /* header */
    .headerButtons{ text-align: center; float: none; margin-top: 10px; }
    .headerButtons > li{ margin: 0 5px; }

    /* menu */
    .mainHeader{ padding-bottom: 0; }
    .mainHeader .logo img{ margin: 0 0 24px 0; }

    /* blog list */
    .blogList > li{ width: 50%; }
    .blogList > li:first-child{ padding-bottom: 0; margin-bottom: 48px; }
    .blogList > li:first-child .blogItem{ padding-left: 5px; padding-right: 5px; min-height: 0; }
    .blogList > li:first-child .blogItem img{ position: relative; width: calc(100% + 10px); margin-left: -5px; }
    .blogList > li:first-child .blogItem .commentsList{ position: static; }
    .blogList > li:not(.blogItemNoImage):first-child .blogItem{ padding-left: 0; }

    /* footer */
    .footerInner{ margin: 0; }

    /* article */
    blockquote.right, blockquote.left{ float: none; margin: 0 0 24px 0; width: 100%; text-align: left; }
    article img, .responsiveVideo{ width: 100%; margin: 0 0 24px 0; }
    .responsiveVideo{ padding-bottom: 56.25%; }

}
@media (max-width: 767.9px){

    /* blog list */
    .blogItem .title{ font-size: 24px; line-height: 36px; }
    .blogList > li:first-child .blogItem .title{ font-size: 30px; line-height: 40px; }
    .blogList > li:first-child{ margin-bottom: 30px; }
    .blogList{ margin-left: -7px; margin-right: -7px; }
    .blogList > li{ padding-left: 7px; padding-right: 7px; }
    .commentsList{ left: 15px; right: 15px; }

    /* newsletter */
    .newsletterWrapper .form-control{ width: 100%; text-align: center; }
    .newsletterWrapper .title{ font-size: 40px; line-height: 40px; }

    /* footer */
    .mainFooter{ padding: 15px 0 30px 0; text-align: center; }
    .socialList{ text-align: center; }
    .mainFooter .logo img{ margin-top: 24px; }
    .secondMenu > li{ display: inline-block; vertical-align: middle; float: none; margin: 0 10px; font-size: 16px; }

    /* article */
    .articleHeading{ padding: 60px 0 0 0; min-height: 0; }
    .backButton{ margin: 80px 0 19px 0; }
    .articleHeading .title{ font-size: 36px; line-height: 48px; }

}
@media (max-width: 555px){

    /* blog list */
    .blogList > li{ width: 100%; }

    /* pagination */
    .paginationList{ margin-left: 0; margin-right: 0; }
    .paginationItem{ padding: 6px 3px; }

    /* more articles */
    .moreArticleItem{ padding-left: 0; }
    .moreArticleItem img{ position: relative; width: 100%; }
    .moreArticleItem .title{ margin: 24px 0 10px 0; }
}
@media (max-width: 479.9px){

    /* header */
    .buttonIcon{ padding: 10px 15px 10px 30px; -webkit-background-size: 15px 15px; -moz-background-size: 15px 15px; -ms-background-size: 15px 15px; -o-background-size: 15px 15px; background-size: 15px 15px; -webkit-background-position: left 10px center; -moz-background-position: left 10px center; -ms-background-position: left 10px center; -o-background-position: left 10px center; background-position: left 10px center; }

    /* search blog */
    .searchBlogWrapper .title{ font-size: 40px; }

    /* article */
    .articleHeading{ padding: 40px 0 0 0; }
    .articleHeading .title{ font-size: 30px; line-height: 34px; }

}